<app-loading-manager></app-loading-manager>
<app-gamer-background></app-gamer-background>
<tab-bar></tab-bar>
<app-home></app-home>
<app-section-divider></app-section-divider>
<app-aboutme></app-aboutme>
<app-section-divider></app-section-divider>
<app-skills></app-skills>
<app-section-divider></app-section-divider>
<app-experince-and-eduction></app-experince-and-eduction>
<app-section-divider></app-section-divider>
<app-hobbies></app-hobbies>
<app-section-divider></app-section-divider>
<app-contact></app-contact>
<app-section-divider [animated]="false"></app-section-divider>
<app-footer></app-footer>
<router-outlet />
